In [76]:
import glob
import numpy as np
import pandas as pd

#### Read the CSV files

In [77]:
df = pd.concat(map(pd.read_csv,  glob.glob('data/*.csv'))) 
df.columns
df

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label
0,11,tt0013257,Häxan,Häxan,1922,\N,91,13679.0,True
1,12,tt0013556,Robin Hood,NaN,1922,\N,143,2178.0,True
2,16,tt0014341,Our Hospitality,Our Hospitality,1923,\N,65,10911.0,True
3,19,tt0014538,Three Ages,NaN,1923,\N,63,4312.0,True
4,50,tt0017925,The General,NaN,1926,\N,67,87784.0,True
...,...,...,...,...,...,...,...,...,...
1081,9942,tt9430698,One Piece: Stampede,NaN,2019,\N,101,5109.0,NaN
1082,9943,tt9441638,The Big Ugly,NaN,2020,\N,106,5780.0,NaN
1083,9948,tt9495690,Págálpánti,Pagalpanti,2019,\N,149,2331.0,NaN
1084,9950,tt9519642,The Wedding Unplanner,NaN,2020,\N,110,NaN,NaN
1085,9951,tt9526826,Android Kunjappan Ver 5.25,Android Kunjappan Version 5.25,2019,\N,140,5271.0,NaN

In [55]:
# Remove accents. NFKD Compatability Decomposition.
# Got this from: https://stackoverflow.com/questions/37926248/how-to-remove-accents-from-values-in-columns
# And: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/normalize
df['primaryTitle'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

0                            Haxan
1                       Robin Hood
2                  Our Hospitality
3                       Three Ages
4                      The General
                   ...
1081           One Piece: Stampede
1082                  The Big Ugly
1083                    Pagalpanti
1084         The Wedding Unplanner
1085    Android Kunjappan Ver 5.25
Name: primaryTitle, Length: 10000, dtype: object

In [ ]:
# Replace empty cells in originalTitle column with a copy from the title in primarytitle
df['originalTitle'].fillna(df['primaryTitle'], inplace=True)

In [67]:
df

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label
0,11,tt0013257,Häxan,Häxan,1922,\N,91,13679.0,True
1,12,tt0013556,Robin Hood,NaN,1922,\N,143,2178.0,True
2,16,tt0014341,Our Hospitality,Our Hospitality,1923,\N,65,10911.0,True
3,19,tt0014538,Three Ages,NaN,1923,\N,63,4312.0,True
4,50,tt0017925,The General,NaN,1926,\N,67,87784.0,True
...,...,...,...,...,...,...,...,...,...
1081,9942,tt9430698,One Piece: Stampede,NaN,2019,\N,101,5109.0,NaN
1082,9943,tt9441638,The Big Ugly,NaN,2020,\N,106,5780.0,NaN
1083,9948,tt9495690,Págálpánti,Pagalpanti,2019,\N,149,2331.0,NaN
1084,9950,tt9519642,The Wedding Unplanner,NaN,2020,\N,110,NaN,NaN
1085,9951,tt9526826,Android Kunjappan Ver 5.25,Android Kunjappan Version 5.25,2019,\N,140,5271.0,NaN

In [106]:
# Replace endYear \N with startYear
df['endYear'] = np.where(df['endYear'] == r'\N', df['startYear'], df['endYear'])


df

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label
0,11,tt0013257,Häxan,Häxan,1922,,91,13679.0,True
1,12,tt0013556,Robin Hood,NaN,1922,,143,2178.0,True
2,16,tt0014341,Our Hospitality,Our Hospitality,1923,,65,10911.0,True
3,19,tt0014538,Three Ages,NaN,1923,,63,4312.0,True
4,50,tt0017925,The General,NaN,1926,,67,87784.0,True
...,...,...,...,...,...,...,...,...,...
1081,9942,tt9430698,One Piece: Stampede,NaN,2019,,101,5109.0,NaN
1082,9943,tt9441638,The Big Ugly,NaN,2020,,106,5780.0,NaN
1083,9948,tt9495690,Págálpánti,Pagalpanti,2019,,149,2331.0,NaN
1084,9950,tt9519642,The Wedding Unplanner,NaN,2020,,110,NaN,NaN
1085,9951,tt9526826,Android Kunjappan Ver 5.25,Android Kunjappan Version 5.25,2019,,140,5271.0,NaN