In [1]:
import glob
import numpy as np
import pandas as pd

In [2]:
# Read CSVs
df = pd.concat(map(pd.read_csv,  glob.glob('data/*.csv'))) 
df.head()

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label
0,11,tt0013257,H채xan,H채xan,1922,\N,91,13679.0,True
1,12,tt0013556,Robin Hood,NaN,1922,\N,143,2178.0,True
2,16,tt0014341,Our Hospitality,Our Hospitality,1923,\N,65,10911.0,True
3,19,tt0014538,Three Ages,NaN,1923,\N,63,4312.0,True
4,50,tt0017925,The General,NaN,1926,\N,67,87784.0,True

In [3]:
df.columns

Index(['Unnamed: 0', 'tconst', 'primaryTitle', 'originalTitle', 'startYear',
       'endYear', 'runtimeMinutes', 'numVotes', 'label'],
      dtype='object')

In [4]:
# 2a. Remove accents. NFKD Compatability Decomposition. Got this from: https://stackoverflow.com/questions/37926248/how-to-remove-accents-from-values-in-columns
# And: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/normalize
df['primaryTitle'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

0                            Haxan
1                       Robin Hood
2                  Our Hospitality
3                       Three Ages
4                      The General
                   ...
1081           One Piece: Stampede
1082                  The Big Ugly
1083                    Pagalpanti
1084         The Wedding Unplanner
1085    Android Kunjappan Ver 5.25
Name: primaryTitle, Length: 10000, dtype: object

In [5]:
# 2b. Capitalizaiton rules

In [6]:
# 2c. Replace empty cells in originalTitle column with a copy from the title in primarytitle
df['originalTitle'].fillna(df['primaryTitle'], inplace=True)

In [ ]:
# 2d. endYear => startYear

In [11]:
# 2e. Replace endYear \N with startYear
df['endYear'] = np.where(df['endYear'] == r'\N', df['startYear'], df['endYear'])

In [8]:
# 2f Empty numvotes
df['numVotes'] = df['numVotes'].replace(np.nan, 0) # Transform empty to 0
df['numVotes']

nan

0       13679.0
1        2178.0
2       10911.0
3        4312.0
4       87784.0
         ...
1081     5109.0
1082     5780.0
1083     2331.0
1084        0.0
1085     5271.0
Name: numVotes, Length: 10000, dtype: float64

In [9]:
# 2g Outliers