In [34]:
import glob
import numpy as np
import pandas as pd

#### Read the CSV files

In [35]:
df = pd.concat(map(pd.read_csv,  glob.glob('data/*.csv'))) 
df.columns

Index(['Unnamed: 0', 'tconst', 'primaryTitle', 'originalTitle', 'startYear',
       'endYear', 'runtimeMinutes', 'numVotes', 'label'],
      dtype='object')

In [18]:
# Replace empty cells in originalTitle column with a copy from the title in primarytitle
df['originalTitle'].fillna(df['primaryTitle'], inplace=True)

In [51]:
# df['startYear'].where(df['startYear'] > df['endYear'])
# df['endYear'].where(df['endYear'] == '\N')

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label
0,11,tt0013257,Häxan,Häxan,1922,\N,91,13679.0,True
1,12,tt0013556,Robin Hood,NaN,1922,\N,143,2178.0,True
2,16,tt0014341,Our Hospitality,Our Hospitality,1923,\N,65,10911.0,True
3,19,tt0014538,Three Ages,NaN,1923,\N,63,4312.0,True
4,50,tt0017925,The General,NaN,1926,\N,67,87784.0,True
...,...,...,...,...,...,...,...,...,...
95,914,tt0055597,Victim,NaN,1961,\N,90,5810.0,True
96,940,tt0056127,Jớúrnéy tớ thé Sévénth Plánét,NaN,1962,\N,77,NaN,False
97,942,tt0056141,A Kind of Loving,A Kind of Loving,\N,1962,113,2052.0,True
98,943,tt0056142,King Kớng vs. Gớdzillá,King Kong vs. Godzilla,1963,\N,97,10084.0,False
99,948,tt0056217,The Man Who Shot Liberty Valance,The Man Who Shot Liberty Valance,1962,\N,123,73331.0,True